###############
# WiFi Config #
###############
## WiFi is only connected when needed and deactivated afterwards
wifi-ssid: YOUR_WIFI_NETWORK_NAME
wifi-password: YOUR_WIFI_PASSWORD

###################
# Scrobble Config #
###################
## For Maloja uncomment the following line and enter your preferred compatible endpoint.
# scrobble-url:

## Scrobble Protocol
## - for Last.fm and Maloja use "lastfm"
## - for ListenBrainz (and compatible) use "listenbrainz"
scrobble-protocol: lastfm

## Your Last.fm username and password
scrobble-user:
scrobble-password:

## For Maloja and ListenBrainz you only need to enter your apiKey. Username, password, sharedSecret can be left empty.
scrobble-apiKey:
scrobble-sharedSecret:

##################
# Podcast Config #
##################
## folder to download podcasts to
folder: /sdcard/Podcasts
## list of podcasts + rss feed urls
- name: Podcast Name 1
  url: https://example.com/feed.xml
- name: Podcast Name 2
  url: https://example.com/feed2.xml
